/* .header-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  } */
  
  /* .profile-pic-wrapper {
    position: relative;
  } */
  
  /* .edit-profile-button-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
   */
  /* .edit-profile-button {
    margin-top: 8px;
  }
   */

   .header-wrapper {
    background-color: var(--twitter-background);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: var(--twitter-text-color);
    margin-top: 10px;
  }
  
  .profile-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .profile-details p {
    margin-bottom: 5px;
  }
  
  .profile-details strong {
    font-weight: bold;
  }

  .profile_name{
    display: inline;
    margin-right: 10px;
    color: var(--twitter-text-color);
  }

  .optionPane {
    margin-top: 40px;
  }