header {
    display: grid;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--twitter-background);
    align-items: center;
    border-bottom: 1px solid var(--twitter-background);
    padding: 10px 20px;
    border-radius: 10px;
}

header > h2 {
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: var(--twitter-text-color);
}


.options {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px;
}


header > i {
    justify-self: center;
}

header > i:active{
    transform: scale(0.9);
}

header > i:focus{
    outline: none;
}